{% extends "layout.html" %}

{% block content %}
<!-- ipython ------>
<div class="container">
  <section class="row">
    <div class="col-md-6">
      <h2>IPython projects</h2>
    </div>
  </section>
  <section class="row">
      <div class="col-md-4">
          <div class="panel panel-info">
              <div class="panel-heading">
                  <h3 class="panel-title">ipython</h3>
              </div>
              <div class="panel-body">
                <a href="https://ipython.readthedocs.org/en/latest">Docs</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-info">
              <div class="panel-heading">
                  <h3 class="panel-title">ipywidgets</h3>
              </div>
              <div class="panel-body">
                <ul>
                    <li><a href="https://ipywidgets.readthedocs.org/en/latest">Docs</a></li>
                    <li><a href="http://jons-widgets-fork.readthedocs.org/en/nicedocs/index.html">Interactive Docs</a></li>
                </ul>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-info">
              <div class="panel-heading">
                  <h3 class="panel-title">ipyparallel</h3>
              </div>
              <div class="panel-body">
                <a href="https://ipyparallel.readthedocs.org/en/latest">Docs</a>
              </div>
          </div>
      </div>
  </section>
  <section class="row>
    <div class="col-md-4">
      <div class="panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">traitlets</h3>
        </div>
        <div class="panel-body">
          <a href="https://traitlets.readthedocs.org/en/latest">Docs</a>
        </div>

      </div>
    </div
  </section>
</div>

{% endblock %}